Name: Zhi Li 

Github Username: ZhiLi055 

USC ID:4474605731

In [3]:
import os
import pandas as pd

Solving question 1

In [4]:
os.chdir('../data')
os.getcwd()

'C:\\Users\\lz\\Desktop\\DSCI552\\HW0\\data'

In [5]:
os.getcwd()

'C:\\Users\\lz\\Desktop\\DSCI552\\HW0\\data'

In [6]:
data = pd.read_excel('test.xlsx')

In [7]:
data

   1  2  3
0  4  5  6